* {
    font-family: sans-serif;
}

.card-wrapper {
    width: 100%;
}

.card span {
    margin: 10px;
}

.nav-button-wrapper {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.nav-button-wrapper button {
    min-width: 80px;
    padding: 4px;
    cursor: pointer;
}